@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400');

:root {
  --white: #e3e3e3;
  --black: #111113;
  --blue: #2d323e;
  --main-bg-color: var(--white);
  --main-text-color: var(--black);
  --default-padding: 25px;
}

* {
  box-sizing: border-box;
}

html,
body {
  color: var(--black);
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  padding: var(--default-padding);
}

h1,
h2,
h3,
p {
  margin: 0;
  font-weight: 300;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  background-color: var(--white);
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.side-container {
  background: var(--blue);
  color: var(--white);
  display: grid;
  grid-template-rows: auto;
}

.main-container {
  display: grid;
  grid-auto-rows: max-content;
}

.container-cell {
  padding: var(--default-padding);
}

.profile-image-container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-image {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  opacity: 0.5;
  object-fit: cover;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-bottom: 10px;
}

.link-list li a {
  color: inherit;
}
