@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400');

:root {
  --white: #e3e3e3;
  --black: #111113;
  --blue: #2d323e;
  --main-bg-color: var(--white);
  --main-text-color: var(--black);
  --default-padding: 25px;
  --default-margin: 10px;
}

* {
  box-sizing: border-box;
}

html,
body {
  color: var(--black);
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  padding: var(--default-padding) * 2;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-weight: 300;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
}

h1 {
  margin-bottom: calc(var(--default-margin) * 2);
}

h2 {
  margin-bottom: var(--default-margin);
}

h4,
h3 {
  font-weight: 900;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  background-color: var(--white);
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.side-container {
  background: var(--blue);
  color: var(--white);
}

.main-container {
  display: grid;
  grid-auto-rows: max-content;
}

.container-cell {
  padding: var(--default-padding);
}

.main-container > .container-cell {
  padding: calc(var(--default-padding) * 2) calc(var(--default-padding) * 2) 0;
}

.profile-image-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-image {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  opacity: 0.5;
  object-fit: cover;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  font-weight: 300;
}

.link-list li a {
  color: inherit;
}

.work-experience,
.work-experience-project:not(:last-child) {
  margin-bottom: calc(var(--default-margin) * 2.5);
  border-bottom: 1px solid;
  padding-bottom: var(--default-padding);
}

.work-experience-info {
  display: flex;
  justify-content: space-between;
}

.work-experience-title,
.work-experience-info {
  font-weight: 900;
}

.work-experience-description {
  margin: var(--default-margin) 0;
}

.skills-list li {
  margin-bottom: var(--default-margin);
}

.personal-description:not(:last-child) {
  margin-bottom: var(--default-margin);
}
